<section class="search-term">
    <div class="input-group">
        <div class="form-field-wrapper">
            <mat-form-field class="custom-field" appearance="outline">
                <img class="calender-icon" src="assets/icon_calender.svg" alt="">
                <input name="search-date" matInput>
                <!-- <mat-error *ngIf="loginForm.submitted && emailVal.errors?.pattern">Enter a valid email address</mat-error>
            <mat-error *ngIf="loginForm.submitted && emailVal.errors?.required">Email address is required</mat-error> -->
            </mat-form-field>
            <!-- <i class="icon-check-valid" *ngIf="loginForm.submitted && !emailVal.errors">
            <img src="assets/images/landing/account/input-valid-check.svg" alt="" />
        </i> -->
        </div>
        <div class="input-group-append">
            <span class="input-group-text search-icon"><img src="assets/icon_search.svg" alt=""></span>
        </div>
    </div>
</section>
